# Ignore macOS system files
.DS_Store

# Ignore all Photoshop files
*.psd

# Ignore HTML files other than index.html 
indexf.html
les 4 html/
les--4/

# Ignore node_modules 
node_modules/

# Ignore log files
*.log

# Ignore temporary files
*.swp

# Ignore build directories 
dist/
build/
out/
